# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# SQLite
db.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Collected Static Files
staticfiles/

# Logs
*.log