{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/product-detail.css' %}">
{% endblock style %}

{% block title %}
    Medifit || {{product.name}}
{% endblock title %}

{% block content %}
<!--Product detail-->
<section class="product-detail">
    <div class="container">
        <div class="product-detail-wrapper">
            <div class="product-detail-image">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% if product.badge_detail %}
                    <span class="product-badge">{{ product.badge_detail.get_badge_display }}</span>
                {% endif %}
            </div>
            <div class="product-detail-info">
                <h1>{{ product.name }}</h1>
                <div class="product-detail-price">
                    {% if product.badge_detail == "Discounted" %}
                        <span class="old-price">${{ product.display_old_price|floatformat:0 }}</span>
                    {% endif %}
                    <span class="current-price">${{ product.price|floatformat:0 }}</span>
                </div>
                <div class="product-action">
                    <div class="quantity-selector">
                        <button class="qty-btn" id="decreaseQty">−</button>
                        <input type="text" id="quantity" value="1" aria-label="Quantity">
                        <button class="qty-btn" id="increaseQty">+</button>
                    </div>
                    <a href="#" class="add-to-cart-btn">Add to cart <i class="bi bi-arrow-right"></i></a>
                </div>
                <div class="product-short-info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolore doloremque labore
                        reprehenderit veritatis! Accusamus distinctio expedita nobis nulla repudiandae.</p>
                    <div class="key-benefits">
                        <span><i class="bi bi-check-circle-fill"></i> Lorem ipsum dolor sit amet, consectetur adipisicing</span>
                        <span><i class="bi bi-check-circle-fill"></i> Lorem ipsum dolor sit amet, consectetur adipisicing</span>
                        <span><i class="bi bi-check-circle-fill"></i> Lorem ipsum dolor sit amet, consectetur adipisicing</span>
                        <span><i class="bi bi-check-circle-fill"></i> Lorem ipsum dolor sit amet, consectetur adipisicing</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Features-->
<section class="product-features">
    <div class="container">
        <div class="features-grid">
            <div class="feature-card">
                <i class="bi bi-truck"></i>
                <h4>Free shipping</h4>
            </div>
            <div class="feature-card">
                <i class="bi bi-arrow-repeat"></i>
                <h4>Easy refund</h4>
            </div>
            <div class="feature-card">
                <i class="bi bi-headset"></i>
                <h4>Online support</h4>
            </div>
            <div class="feature-card">
                <i class="bi bi-credit-card"></i>
                <h4>Flexible payment</h4>
            </div>
        </div>
    </div>
</section>
<!--Customer reviews-->
<section class="customer-reviews">
    <div class="container">
        <div class="section-header">
            <h2>Customers review</h2>
        </div>
        <div class="slider-container">
            <button class="slider-btn prev-btn" id="prevReviewBtn">
                <i class="bi bi-chevron-left"></i>
            </button>
            <div class="slider-wrapper" id="reviewSliderWrapper">
                <div class="slider-track" id="reviewSliderTrack">
                    <article class="review-card">
                        <div class="reviewer-info">
                            <div class="reviewer-avatar">
                                <img src="assets/media/images/Thor%20Ragnarok%20Haircut%20And%20Other%20Iconic%20Chris%20Hemsworth%20Hair%20Looks%20copy.png" alt="Amirhossein farahain">
                            </div>
                            <div class="reviewer-details">
                                <h4>Amirhossein Farahani</h4>
                                <div class="rating">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum molestiae, nam odit perferendis reprehenderit sit!</p>
                    </article>
                    <article class="review-card">
                        <div class="reviewer-info">
                            <div class="reviewer-avatar">
                                <img src="assets/media/images/Thor%20Ragnarok%20Haircut%20And%20Other%20Iconic%20Chris%20Hemsworth%20Hair%20Looks%20copy.png" alt="Amirhossein farahain">
                            </div>
                            <div class="reviewer-details">
                                <h4>Amirhossein Farahani</h4>
                                <div class="rating">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum molestiae, nam odit perferendis reprehenderit sit!</p>
                    </article>
                    <article class="review-card">
                        <div class="reviewer-info">
                            <div class="reviewer-avatar">
                                <img src="assets/media/images/Thor%20Ragnarok%20Haircut%20And%20Other%20Iconic%20Chris%20Hemsworth%20Hair%20Looks%20copy.png" alt="Amirhossein farahain">
                            </div>
                            <div class="reviewer-details">
                                <h4>Amirhossein Farahani</h4>
                                <div class="rating">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum molestiae, nam odit perferendis reprehenderit sit!</p>
                    </article>
                    <article class="review-card">
                        <div class="reviewer-info">
                            <div class="reviewer-avatar">
                                <img src="assets/media/images/Thor%20Ragnarok%20Haircut%20And%20Other%20Iconic%20Chris%20Hemsworth%20Hair%20Looks%20copy.png" alt="Amirhossein farahain">
                            </div>
                            <div class="reviewer-details">
                                <h4>Amirhossein Farahani</h4>
                                <div class="rating">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum molestiae, nam odit perferendis reprehenderit sit!</p>
                    </article>
                    <article class="review-card">
                        <div class="reviewer-info">
                            <div class="reviewer-avatar">
                                <img src="assets/media/images/Thor%20Ragnarok%20Haircut%20And%20Other%20Iconic%20Chris%20Hemsworth%20Hair%20Looks%20copy.png" alt="Amirhossein farahain">
                            </div>
                            <div class="reviewer-details">
                                <h4>Amirhossein Farahani</h4>
                                <div class="rating">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum molestiae, nam odit perferendis reprehenderit sit!</p>
                    </article>
                    <article class="review-card">
                        <div class="reviewer-info">
                            <div class="reviewer-avatar">
                                <img src="assets/media/images/Thor%20Ragnarok%20Haircut%20And%20Other%20Iconic%20Chris%20Hemsworth%20Hair%20Looks%20copy.png" alt="Amirhossein farahain">
                            </div>
                            <div class="reviewer-details">
                                <h4>Amirhossein Farahani</h4>
                                <div class="rating">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum molestiae, nam odit perferendis reprehenderit sit!</p>
                    </article>
                    <article class="review-card">
                        <div class="reviewer-info">
                            <div class="reviewer-avatar">
                                <img src="assets/media/images/Thor%20Ragnarok%20Haircut%20And%20Other%20Iconic%20Chris%20Hemsworth%20Hair%20Looks%20copy.png" alt="Amirhossein farahain">
                            </div>
                            <div class="reviewer-details">
                                <h4>Amirhossein Farahani</h4>
                                <div class="rating">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum molestiae, nam odit perferendis reprehenderit sit!</p>
                    </article>
                </div>
            </div>
            <button class="slider-btn next-btn" id="nextReviewBtn">
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>
    </div>
</section>
<!--Recent products-->
<section class="recent-products">
    <div class="container">
        <h2>Recent Products</h2>
        <div class="slider-container">
            <button class="slider-btn prev-btn" id="prevRecentBtn">
                <i class="bi bi-chevron-left"></i>
            </button>
            <div class="slider-wrapper" id="recentSliderWrapper">
                <div class="slider-track" id="recentSliderTrack">
                    <article class="product-card">
                        <div class="product-image">
                            <img src="assets/media/images/Perfectil%20Hair%20copy.png" alt="Laptop Pro">
                            <span class="product-badge">New</span>
                        </div>
                        <div class="product-info">
                            <h3>Hair tablet</h3>
                            <p class="product-desc">Cure your hair problem</p>
                            <div class="product-price">
                                <span class="current-price">$19</span>
                                <span class="old-price">$25</span>
                            </div>
                            <a href="product-detail.html" class="product-btn">View Details</a>
                        </div>
                    </article>
                    <article class="product-card">
                        <div class="product-image">
                            <img src="assets/media/images/Perfectil%20Hair%20copy.png" alt="Laptop Pro">
                            <span class="product-badge">New</span>
                        </div>
                        <div class="product-info">
                            <h3>Hair tablet</h3>
                            <p class="product-desc">Cure your hair problem</p>
                            <div class="product-price">
                                <span class="current-price">$19</span>
                                <span class="old-price">$25</span>
                            </div>
                            <a href="product-detail.html" class="product-btn">View Details</a>
                        </div>
                    </article>
                    <article class="product-card">
                        <div class="product-image">
                            <img src="assets/media/images/Perfectil%20Hair%20copy.png" alt="Laptop Pro">
                            <span class="product-badge">New</span>
                        </div>
                        <div class="product-info">
                            <h3>Hair tablet</h3>
                            <p class="product-desc">Cure your hair problem</p>
                            <div class="product-price">
                                <span class="current-price">$19</span>
                                <span class="old-price">$25</span>
                            </div>
                            <a href="product-detail.html" class="product-btn">View Details</a>
                        </div>
                    </article>
                    <article class="product-card">
                        <div class="product-image">
                            <img src="assets/media/images/Perfectil%20Hair%20copy.png" alt="Laptop Pro">
                            <span class="product-badge">New</span>
                        </div>
                        <div class="product-info">
                            <h3>Hair tablet</h3>
                            <p class="product-desc">Cure your hair problem</p>
                            <div class="product-price">
                                <span class="current-price">$19</span>
                                <span class="old-price">$25</span>
                            </div>
                            <a href="product-detail.html" class="product-btn">View Details</a>
                        </div>
                    </article>
                    <article class="product-card">
                        <div class="product-image">
                            <img src="assets/media/images/Perfectil%20Hair%20copy.png" alt="Laptop Pro">
                            <span class="product-badge">New</span>
                        </div>
                        <div class="product-info">
                            <h3>Hair tablet</h3>
                            <p class="product-desc">Cure your hair problem</p>
                            <div class="product-price">
                                <span class="current-price">$19</span>
                                <span class="old-price">$25</span>
                            </div>
                            <a href="product-detail.html" class="product-btn">View Details</a>
                        </div>
                    </article>
                    <article class="product-card">
                        <div class="product-image">
                            <img src="assets/media/images/Perfectil%20Hair%20copy.png" alt="Laptop Pro">
                            <span class="product-badge">New</span>
                        </div>
                        <div class="product-info">
                            <h3>Hair tablet</h3>
                            <p class="product-desc">Cure your hair problem</p>
                            <div class="product-price">
                                <span class="current-price">$19</span>
                                <span class="old-price">$25</span>
                            </div>
                            <a href="product-detail.html" class="product-btn">View Details</a>
                        </div>
                    </article>
                    <article class="product-card">
                        <div class="product-image">
                            <img src="assets/media/images/Perfectil%20Hair%20copy.png" alt="Laptop Pro">
                            <span class="product-badge">New</span>
                        </div>
                        <div class="product-info">
                            <h3>Hair tablet</h3>
                            <p class="product-desc">Cure your hair problem</p>
                            <div class="product-price">
                                <span class="current-price">$19</span>
                                <span class="old-price">$25</span>
                            </div>
                            <a href="product-detail.html" class="product-btn">View Details</a>
                        </div>
                    </article>
                    <article class="product-card">
                        <div class="product-image">
                            <img src="assets/media/images/Perfectil%20Hair%20copy.png" alt="Laptop Pro">
                            <span class="product-badge">New</span>
                        </div>
                        <div class="product-info">
                            <h3>Hair tablet</h3>
                            <p class="product-desc">Cure your hair problem</p>
                            <div class="product-price">
                                <span class="current-price">$19</span>
                                <span class="old-price">$25</span>
                            </div>
                            <a href="product-detail.html" class="product-btn">View Details</a>
                        </div>
                    </article>
                </div>
            </div>
            <button class="slider-btn next-btn" id="nextRecentBtn">
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>
        <div class="slider-dots" id="recentDots"></div>
        <div class="view-all-products">
            <a href="products.html" class="view-all-link">
                View All Products <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
</section>

<!--Community banner-->
<section class="community-banner">
    <div class="container">
        <div class="community-wrapper">
            <h3>Join our trustable Medifit product community</h3>
            <p>Join us as we build a community where wellness is accessible, education is empowering, and health is a
                shared journey.</p>
            <a href="#" class="community-btn">Get started <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
</section>
{% endblock content %}

{% block script %}
<script src="assets/js/index.js"></script>
<script src="assets/js/product-detail.js"></script>
{% endblock script %}